<h1>Change Password</h1>
<% flash.each do |type,msg| %>
        <p class= "text-danger">
          <%if type!="from"&&type!="to"%>
           <%= msg %>
          <%end%>
        </p>
<% end %>
<%= form_with url: '/home/verify_change_password',data: {turbo: false} do |form| %>
  <%= form.label :Password, class: "form-label"%>
  <%=form.password_field :Password, class: "form-control"%>
   <br/>
  <%= form.label "Re-enter password", class: "form-label"%>
  <%=form.password_field "Re-enter password", class: "form-control"%>
 <br/>
  <%=form.submit :OK,class: "btn btn-primary"%>
  <%= link_to "Cancel", "/profile",class: "btn btn-danger" %>
<% end %>
