<%= link_to "Back To Main", "/main", class: "btn btn-dark mt-2" %>
<p class="text-center fs-1">My Inventory</p>
<% flash.each do |type,msg| %>
        <p class= "text-danger">
          <%if type!="from"&&type!="to"%>
           <%= msg %>
          <%end%>
        </p>
<% end %>
<%if @choose.size!=0%>
    <%= form_with url: "/addStock",data: {turbo: false} do |form| %>
        <%= form.label :market1, "Choose Add Product",class: "form-label"%>
        <%= form.select :market1, @choose%>
        <%=form.submit "Add Stock",class: "btn btn-primary mb-2"%>
    <% end %>
    <%= form_with url: "/reduceStock",data: {turbo: false} do |form| %>
        <%= form.label :market2, "Choose Reduce Product",class: "form-label"%>
        <%= form.select :market2, @choose%>
        <%=form.submit "Reduce Stock ",class: "btn btn-warning mb-2"%>
    <% end %>
    <%= form_with url: '/home/deleteItem',data: {turbo: false} do |form| %>
        <%= form.label :market3, "Choose Delete Product",class: "form-label"%>
        <%= form.select :market3, @choose%>
        <%=form.submit "Delete",class: "btn btn-danger mb-2"%>
<% end %>
<%end%>
<%= form_with url: '/addItem',data: {turbo: false} do |form| %>
    <%=form.submit "Add Item",class: "btn btn-secondary mb-2"%>
<% end %>
<table class="table table-bordered table-primary"> 
    <tr>
        <th>No.</th>
        <th>Picture</th>
        <th>Name</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Price</th>
    </tr>
    <%i=1%>
    <% for row in @rows%>
    <tr>
        <td><%=row[5]%></td>
         <%if row[4].picture.attached?%>
            <td><%= image_tag rails_blob_path(row[4].picture,disposition: "attachment") ,class:"picture"%></td>
        <%else%>
            <td><%= image_tag "https://static.thenounproject.com/png/3674270-200.png" ,class:"picture"%></td>
        <%end%>
        <td><%=row[0]%></td>
        <td><%=row[1]%></td>
        <td><%=row[2]%></td>
        <td><%=row[3]%></td>
        <%i=i+1%>
    </tr>
    <%end%>
</table>
