<%= link_to "Back To Main", "/main", class: "btn btn-dark mt-2" %>
<p class="text-center fs-1">Market</p>
<% flash.each do |type,msg| %>
        <p class= "text-danger">
          <%if type!="from"&&type!="to"%>
           <%= msg %>
          <%end%>
        </p>
<% end %>
<%= form_with url: '/my_market',data: {turbo: false} do |form| %>
    <%= form.label :category, "Search By Category",class: "form-label"%>
    <%= form.select :category, @category,selected: @selected%>
    <%=form.submit :Search,class: " border border-0 bg-dark text-white mb-1"%>
<% end %>
<table class="table table-bordered table-primary"> 
    <tr>
        <th>No.</th>
        <th >Picture</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Seller</th>
        <th>Price</th>
        <th>Category</th>
        <th>Select Quantity</th>
        <th>Buy</th>
    </tr>
    <%i=1%>
    <% for row in @rows%>
    <tr>
        <td><%=i%></td>
        <%if row[5].picture.attached?%>
            <td><%= image_tag rails_blob_path(row[5].picture,disposition: "attachment") ,class:"picture"%></td>
        <%else%>
             <td><%= image_tag "https://static.thenounproject.com/png/3674270-200.png" ,class:"picture"%></td>
        <%end%>
        <td><%=row[0]%></td>
        <td><%=row[1]%></td>
        <td><%=row[2]%></td>
        <td><%=row[3]%></td>
        <td><%=row[4]%></td>
        <%= form_with url: '/home/verify_buy',data: {turbo: false} do |form| %>
            <%= form.hidden_field :market, value: row[6]%>
             <%= form.hidden_field :lock_version, value: row[7]%>
            <td><%=form.number_field "quantity#{row[6]}", class: "form-control"%></td>
            <td><%=form.submit "Buy Item #{i}",class: "btn btn-secondary",data: { disable_with: false }%></td>
        <% end %>
        <%i=i+1%>
    </tr>
    <%end%>
</table>